html { 
    background: url(../img/hatter.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.szoveg2{
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
font-weight: bold;
}
.blogkep2{
    width: 20%;
}
.blogkep3{
    width: 20%;
}
