html { 
    background: url(../img/hatter.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.blogkep2{
    float:right;
    width:15%;
    margin-top: -1.5%;
}
.blogkep3{
    float:right;
    width:15%;
    margin-top: -2.75%;
}
.blogkep1{
    float:right;
    width:10%;
    margin-top: -5%;
}
