.marko{
    width: 17%;
}
.gabor{
    width: 17%;
}
body{
    background-image: url(../img/hatter.png);
}
.szoveg2{
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}