.kep1{
    float:right;
    width: 8%;
    margin-top: 0%;
    shape-outside: circle(50%);
}
html { 
    background: url(../img/hatter.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.hatterize{
    background-color: rgba(255, 255, 255, 0.7);
}
.kep2{
    float:right;
    width:5%;
    margin-top: -0.2%;
    shape-outside: circle(50%);
}
