.kep1{
    float:right;
    width: 25%;
    margin-top: 0%;
    shape-outside: circle(50%);
}
html { 
    background: url(../img/hatter.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.kep2{
    float:right;
    width:25%;
    margin-top: -0.2%;
    shape-outside: circle(50%);
}
.kep3{
    float:right;
    width: 25%;
    margin-top: -10%;
    shape-outside: circle(50%);
}
.festek{
width: 69%;
border: 2px solid black;
margin: 1.35%;
display: inline-block;
}
