h2{
    font-size: 15px;
    font-weight: 100;

}

table{
    margin-right: auto;
    margin-left: auto;
}
body{
    background-image: url("/img/hatter.png");
    background-size:120%;
}
.szoveg{
    background-color: rgba(255, 255, 255, 0.5)
}

